body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000; /* czarne tło */
  color: #fff; /* biała czcionka */
}

.container {
  text-align: center;
}

h1 {
  font-size: 3em; /* większa czcionka */
  margin: 0 10%; /* trochę marginesu dla lepszej czytelności na mniejszych ekranach */
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #444; /* ciemny przycisk */
  color: #fff; /* biała czcionka na przycisku */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555; /* jaśniejszy kolor przy najechaniu myszką */
}