body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000; /* czarne tło */
  color: #fff; /* biała czcionka */
  padding: 10px;
  box-sizing: border-box;
}

.container {
  text-align: center;
  max-width: 100%;
}

h1 {
  font-size: 2em; /* zmniejszenie czcionki dla lepszej czytelności na mniejszych ekranach */
  margin: 0 5%; /* margines dla lepszej czytelności */
  word-wrap: break-word; /* łamanie wyrazów */
}

p {
  font-size: 1.5em;
  margin: 20px 5%;
  word-wrap: break-word; /* łamanie wyrazów */
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #444; /* ciemny przycisk */
  color: #fff; /* biała czcionka na przycisku */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 90%;
  box-sizing: border-box;
}

button:hover {
  background-color: #555; /* jaśniejszy kolor przy najechaniu myszką */
}

@media (min-width: 600px) {
  h1 {
      font-size: 3em; /* większa czcionka dla większych ekranów */
  }

  p {
      font-size: 2em; /* większa czcionka dla większych ekranów */
  }
}